<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="/js/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

<div id="threejscene" class="container-fluid text-center">
</div>

<!-- JQuery -->
<script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ThreeJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
<!-- Main program -->
<script src="/js/fourtriangles.js"></script>